@font-face {
    font-family: myFont;
    src: url(../fonts/douyuFont0-9.woff2);
}

@font-face {
    font-family: myFont2;
    src: url(../fonts/huxiaoboLOADING.woff2);
}

body {
    position: relative;
    margin: 0;
    overflow: hidden;
    background-color: #c6d4fd;
}

.flipH {
    transform: scaleX(-1);
}

.flipV {
    transform: scaleY(-1);
}

.flipVH {
    transform: scale(-1, -1);
}

.whole {
    margin: 0 auto;
    position: relative;
}

.scoreAnimate {
    position: absolute;
    z-index: 4;
}

.scAniText {
    font-weight: bold;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    font-family: myFont;
    color: #fc8c43;
}

.bgHead {
    position: absolute;
    z-index: 3;
}

.background {
    position: absolute;
    z-index: 1;
}

.bgKeyboard {
    display: flex;
    position: absolute;
    z-index: 2;
}

.mask {
    position: absolute;
    z-index: 2;
    background-color: #c6d4fd;
}

.pause {
    position: absolute;
}

.speedUp {
    position: absolute;
}

.dirControl {
    position: absolute;
}

.key {
    position: absolute;
    z-index: 3;
}

.scoreContainer {
    position: absolute;
}

.score {
    font-family: myFont;
    color: #ffffff;
}

.tip {
    position: absolute;
}

.pausePanelContainer {
    position: relative;
    z-index: 5;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.musicON {
    position: absolute;
}

.continue {
    position: absolute;
}

.gameOverPanelContainer {
    position: relative;
    z-index: 5;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.again {
    position: absolute;
}

.maxScore {
    position: absolute;
    font-family: myFont;
    color: #fc5eef;
}

.currentScore {
    position: absolute;
    font-family: myFont;
    color: #fc8c43;
}

.loadingContainer {
    background-color: #c6d4fd;
    position: absolute;
    z-index: 6;
}

.loadingText {
    position: absolute;
    z-index: 7;
    font-family: myFont2;
    color: #3a588a;
}